.DS_Store
/node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/index.html
public/imgs/banner-1.png
public/imgs/icon-7day.png
public/imgs/icon-15day.png
public/imgs/icon-add.png
public/imgs/icon-arrow.png
public/imgs/icon-cart-checked.png
public/imgs/icon-cart-hover.png
public/imgs/icon-cart.png
public/imgs/icon-close.png
public/imgs/icon-down.png
public/imgs/icon-gou.png
public/imgs/icon-loc.png
public/imgs/icon-no-data.png
public/imgs/icon-post.png
public/imgs/icon-search.png
public/imgs/icon-setting.png
public/imgs/item-box-1.png
public/imgs/item-box-2.png
public/imgs/item-box-3.jpg
public/imgs/item-box-4.jpg
public/imgs/login-bg.jpg
public/imgs/login-logo.png
public/imgs/logo-footer.png
public/imgs/logo-mi.png
public/imgs/mi-home.png
public/imgs/mi-logo.png
public/imgs/mix-alpha.jpg
public/imgs/ads/ads-1.png
public/imgs/ads/ads-2.jpg
public/imgs/ads/ads-3.png
public/imgs/ads/ads-4.jpg
public/imgs/detail/icon-loc.png
public/imgs/detail/item-price.jpeg
public/imgs/detail/phone-1.jpg
public/imgs/detail/phone-2.jpg
public/imgs/detail/phone-3.jpg
public/imgs/detail/phone-4.jpg
public/imgs/loading-svg/loading-balls.svg
public/imgs/loading-svg/loading-bars.svg
public/imgs/loading-svg/loading-bubbles.svg
public/imgs/loading-svg/loading-cubes.svg
public/imgs/loading-svg/loading-cylon-red.svg
public/imgs/loading-svg/loading-cylon.svg
public/imgs/loading-svg/loading-spin.svg
public/imgs/loading-svg/loading-spinning-bubbles.svg
public/imgs/loading-svg/loading-spokes.svg
public/imgs/nav-img/nav-1.png
public/imgs/nav-img/nav-2.png
public/imgs/nav-img/nav-3-1.jpg
public/imgs/nav-img/nav-3-2.jpg
public/imgs/nav-img/nav-3-3.png
public/imgs/nav-img/nav-3-4.jpg
public/imgs/nav-img/nav-3-5.jpg
public/imgs/nav-img/nav-3-6.png
public/imgs/nav-img/nav-3.png
public/imgs/nav-img/nav-4.png
public/imgs/nav-img/nav-5.png
public/imgs/nav-img/nav-6.png
public/imgs/pay/icon-ali.png
public/imgs/pay/icon-qrcode.png
public/imgs/pay/icon-scan.png
public/imgs/pay/icon-wechat.png
public/imgs/product/gallery-1.png
public/imgs/product/gallery-2.png
public/imgs/product/gallery-3.png
public/imgs/product/gallery-4.png
public/imgs/product/gallery-5.jpg
public/imgs/product/gallery-6.jpg
public/imgs/product/product-bg-1.png
public/imgs/product/product-bg-2.png
public/imgs/product/product-bg-3.png
public/imgs/product/video.mp4
public/imgs/slider/slide-1.jpg
public/imgs/slider/slide-2.jpg
public/imgs/slider/slide-3.jpg
public/imgs/slider/slide-4.jpg
public/imgs/slider/slide-5.jpg
public/mock/user/login.json
